.btn {
  width: 100%;
  background: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
  padding: 1rem 24px;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21rem;

  &.primary {
    background: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
  }

  &.grey {
    background: #e7eefb;
    color: #000;
  }

  &.delete {
    background: linear-gradient(90deg, #d30707 0%, #f05353 68.65%);
  }
}
