.deleteModal {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  z-index: 10;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.815rem;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    opacity: 0.54;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    width: 28.125rem;
    height: 14.5rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 24px 48px -12px #1018282e;

    div {
      flex-direction: row-reverse;
    }
  }
}
