.todoList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 0.0625rem solid #eaecf0;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1.5rem;

  > h2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;
    opacity: 0.54;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media screen and (min-width: 768px) {
    max-width: 28.125rem;
    max-height: 27.875rem;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 1.5rem;
  }
}

.todoMessage {
  padding: 1rem;
  text-align: center;
  border: 1px solid #b0bbd1;
  border-radius: 0.25rem;

  &:hover {
    background-color: #f7f9fd;
    cursor: pointer;
  }
}
